/* line 3, /Users/hasnaaguessous/Code/My Souk in the city/Landing page/source/stylesheets/pages/home.css.scss */
body {
  background: url("../../images/poster.jpg") no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  width: 100%; }

/* line 12, /Users/hasnaaguessous/Code/My Souk in the city/Landing page/source/stylesheets/pages/home.css.scss */
.video {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-bottom: 55%;
  position: relative; }

/* line 20, /Users/hasnaaguessous/Code/My Souk in the city/Landing page/source/stylesheets/pages/home.css.scss */
.video iframe {
  position: fixed;
  right: 40px;
  bottom: 18%;
  width: 45%;
  height: 60%; }

/* line 29, /Users/hasnaaguessous/Code/My Souk in the city/Landing page/source/stylesheets/pages/home.css.scss */
#mc_embed_signup {
  background: transparent;
  font: 14px RobotoCondensed-regular;
  position: fixed;
  width: 45%;
  height: 20%;
  right: 50px;
  bottom: -30px;
  display: inline-block; }
