/* line 3, /Users/hasnaaguessous/Code/My Souk in the city/Landing page/source/stylesheets/pages/home.css.scss */
#banner {
  background-image: url("../../images/poster.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 700px;
  margin-top: 0px;
  margin-bottom: 0px;
  position: relative;
  display: block; }

/* line 16, /Users/hasnaaguessous/Code/My Souk in the city/Landing page/source/stylesheets/pages/home.css.scss */
#mc_embed_signup {
  background: transparent;
  clear: right;
  font: 14px RobotoCondensed-regular;
  position: center center;
  position: relative;
  left: 50px;
  top: 10px;
  display: inline-block; }

/* line 27, /Users/hasnaaguessous/Code/My Souk in the city/Landing page/source/stylesheets/pages/home.css.scss */
.video {
  position: fixed;
  right: 50px;
  bottom: 50px;
  display: inline-block; }
