

#banner {
  	background-image: image-url('poster.jpg');
  	background-repeat: no-repeat;
  	background-size: cover;
  	background-position: center center;
  	height: 700px;
  	margin-top:0px;
  	margin-bottom: 0px;
  	position: relative;
  	display: block;
}

#mc_embed_signup{
	background: transparent; 
  clear:left; 
  font:14px RobotoCondensed-regular; 
  	position: center center;
    position: absolute;
    right: 170px;
  	bottom: 1px;
    display: block;
	h2{
	color: $gray;
	font: $header-font;
	i{
	position: absolute;
	font-size: 100px;
	color: $pink; 
	margin-left: -50px;
	left: 50%;
	bottom: 10px;
	text-align: center;
}
}
}

.video {
  position: fixed;
  right: 50px;
  bottom: 70px;
  display: block;
}